.user-modal .ant-drawer-content-wrapper {
  padding: 32px;
  box-shadow: none;
  border-radius: 16px;
  overflow: hidden;
}
.user-modal .ant-drawer-header {
  border: 0;
}

.user-modal .ant-drawer-content {
  border-radius: 16px;
  box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.1);
}

.user-modal .ant-menu-inline {
  border: 0;
}
